__pycache__/
*.pyc
*.egg-info/
dist/
build/
.eggs/
*.so

data/*.hdf5
data/*.fvecs
data/*.bvecs

.ipynb_checkpoints/
*.ipynb_checkpoints

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/

results/
*.png
*.pdf
